# --- Server ---
PORT=5000

# --- CORS ---
CLIENT_URL=http://localhost:3000

# --- Security ---
JWT_SECRET=ScopeSuperGizliSifre2026!

# --- Database (Local Docker PostgreSQL) ---
DATABASE_URL="postgresql://postgres:password@localhost:5432/scope_db?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/scope_db?schema=public"